@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --blue:#82ccdd;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
   
    transition: all .2s linear;
}

*::selection{
    background:var(--blue);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--blue);
}

body{
    background:#111;
    overflow-x: hidden;
    padding-left: 35rem;
}
.about{
    min-height: 77vh;
    padding:1rem;
}
.education{
    min-height: 77vh;
    padding:1rem;
}
.hobby{
    min-height: 70vh;
    padding:1rem;
}
.contactt{
    min-height: 88vh;
    padding:1rem;
}
.qualification{
    min-height: 65vh;
}
section{
    min-height: 100vh;
    padding:1rem;
}
/*style button envoyer message*/
.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--blue);
}
/*button finish*/
/*style titre de sections*/
.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}
.heading span{
    color:var(--blue);
}
header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
header .user img{
    height:19rem;
    width:19rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--blue);
}
header .user img:hover{
    border: solid 3px #CCC;
    -moz-box-shadow: 3px 3px 5px #999;
    -webkit-box-shadow: 3px 3px 5px #999;
        box-shadow: 3px 3px 5px #999;
  }
header .user .name{
    font-size: 3.5rem;
    color:#fff;
}
header .user .nam{
    font-size: 3.5rem;
    color:var(--blue);
}
header .user .post{
    font-size: 2rem;
    color:#eee;
}
header .navbar{
    width:100%;
}
header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}
header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background:var(--blue);
}
/*sections style finish*/

/*home section style start*/
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color:#fff;
}

.home h1{
    font-size:5rem;
    color:#fff;
}

.home h1 span{
    color:var(--blue);
    font-size: 80px;
    
}
.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
}
/*home section style finish*/
/*skills section start*/
.skills .comp{
    margin-top: 25px;
     display: grid;
     grid-gap: 16px;
     padding: 16px;
     max-width: 1024px;
     margin-inline: auto;
  }
  @media screen and (min-width: 600px){
     .comp{
        grid-template-columns: repeat(3,1fr);
     }
  }
  @media screen and (max-width: 600px){
     .comp{
        grid-template-columns: 1fr;
     }
  }
  .comp .set{
     background-color: #262626;
     padding: 24px;
     border-radius: 16px;
  }
  .comp .set:hover{
     box-shadow: 0px 12px 16px #36363624;
     cursor: pointer;
  }
  .set span{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 80px;
     height: 80px;
     font-size: 48px;
     background-color: var(--blue);
     color: white;
     border-radius: 35%;
     margin-inline: auto;
  }
  .set > header{
     padding-block: 24px;
     font-size: 24px;
     color: var(--blue);
     text-align: center;
  }
  .title{
   padding-block: 24px;
     font-size: 20px;
     color: var(--blue);
     text-align: center;
  }
  .set .list{
     padding-block: 8px;
     display: grid;
     grid-template-columns: 1fr 68px;
     color: #fff;
     text-transform: uppercase;
     font-size: 12px;
  }
/*skills section end*/
/* section information personnelles start*/
.about p{
    font-size:2rem;
   
    justify-content: center;
    color:#eee;
    padding: 5rem 0;
    margin-left: 5rem;
}



/* information personnelles style ends*/
/*experience, education sections start*/
.experiences .box-container,
.qualification .box-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}
.experiences .box-container .box,
.qualification .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}
.experiences .box-container .box span,
.qualification .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}
.experiences .box-container .box h3,
.qualification .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
}

.job{
    font-size: 1.5rem;
    color:#fff;
   
}
.experiences .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
}

.experiences .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--blue);
}


.grid{
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
    margin-top: 10px;
  }
  .grid > article{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
  }
  .grid > article span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
  }
  .grid > article h3{
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
  }
  .grid > article p{
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
  }
  .grid > article i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--blue);
  }
  @media (max-width : 768px){
    .grid{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width : 500px){
    .grid{
      grid-template-columns: repeat(1, 1fr);
    }
    
  }



 
@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }
}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
    display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px){
    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .education .box-container article{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }
 }
 @media (max-width:600px){
    .contactt .wrapper{
        width: 100%;
    }
    .contactt .single-centre{
        width: 95%;
        margin-bottom: 30px;
    }
    .wrapper h2{
        font-size: 30px;
    }
 }
 
 
  /* social media icon section start */
.social-links{
    padding-left: 20px;
}
.social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
  }
.social-links a:hover {
    background: #82ccdd;
    color: #fff;
  }
   /* social media icon section finish */
  

/* contact section start */
.contact-section{
    padding: 40;
    margin-right: 90px;
  }
  
  .contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  
  .contact-box{
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
  }
  
  .contact-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #82ccdd;
    color: #82ccdd;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
  }
  .contact-icon:hover{
    transform: rotate(85deg);
  }
  .contact-icon i{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
  }
  .contact-box:hover .contact-icon{
    background: #82ccdd;
    color: #ddd;
  }
  .contact-title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .contact-desc{
    font-size: 19px;
  }
  
  @media screen and (max-width:960px) {
    .contact-box{
      max-width: 45%;
    }
  }
  
  @media screen and (max-width:768px) {
    .contact-box{
      max-width: 50%;
    }
  }
  
  @media screen and (max-width:480px) {
    .contact-box{
      max-width: 100%;
    }
  }

/* contact section finish */